# Python virtual environment
env/
venv/
ENV/
.env

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Project specific heavy data
dataset/
model.pth

# IDE and OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
